CONFIG_IDF_TARGET="esp32"

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHMODE="dio"
CONFIG_ESPTOOLPY_FLASHFREQ_40M=y
CONFIG_ESPTOOLPY_FLASHFREQ="40m"

CONFIG_CYD_DISPLAY_PANEL_ST7789=y
CONFIG_CYD_DISPLAY_WIDTH=320
CONFIG_CYD_DISPLAY_HEIGHT=240
CONFIG_CYD_DISPLAY_ROTATION=1
CONFIG_CYD_DISPLAY_BACKLIGHT_GPIO=21

CONFIG_CYD_TOUCH_ENABLED=y
CONFIG_CYD_TOUCH_SPI_HOST=3
CONFIG_CYD_TOUCH_PIN_SCLK=25
CONFIG_CYD_TOUCH_PIN_MOSI=32
CONFIG_CYD_TOUCH_PIN_MISO=39
CONFIG_CYD_TOUCH_PIN_CS=33
CONFIG_CYD_TOUCH_PIN_INT=36
CONFIG_CYD_TOUCH_X_MIN=300
CONFIG_CYD_TOUCH_X_MAX=3900
CONFIG_CYD_TOUCH_OFFSET_ROTATION=4
CONFIG_CYD_TOUCH_Y_MIN=400
CONFIG_CYD_TOUCH_Y_MAX=3900

CONFIG_CYD_SPEAKER_GPIO=26
CONFIG_CYD_STATUS_LED_RED_GPIO=4
CONFIG_CYD_STATUS_LED_GREEN_GPIO=16
CONFIG_CYD_STATUS_LED_BLUE_GPIO=17

CONFIG_ESP32_WIFI_STA_ENABLED=y
CONFIG_ESP32_WIFI_STA_AUTO_START=y
CONFIG_ESP32_WIFI_STA_SCAN_LIST_SIZE=30
CONFIG_ESP32_WIFI_STA_MAX_RETRY=5
CONFIG_ESP32_WIFI_STA_CONNECT_TIMEOUT_MS=15000
CONFIG_ESP32_WIFI_STA_WPA3_SAE_PWE_BOTH=y
CONFIG_ESP32_WIFI_STA_AUTH_WPA2_PSK=y
CONFIG_APP_SHELL_TASK_STACK_SIZE=10240
